{% extends 'Qsystem/base.html' %}
{% load static %}
{% block title %}{{ question.question_text }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'Qsystem/CSS/login.css' %}">
{% endblock %}
{% block question_display %}
    <li class="active"><a href="{% url 'Qsystem:questionList' %}">刷题</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-login' action="{% url 'Qsystem:questionComment' questionComment_id%}" method="post">

                {% if error_message %}
                    <div class="alert alert-warning">{{ error_message }}</div>
                {% endif %}
                {% if up_message %}
                    <div class="alert alert-success" role="alert">点赞成功！</div>
                {% endif %}

                {% csrf_token %}
                <h2 class="text-center">{{Comment.comment_topic}}</h2>

                <div class="text-left">
                    {{Comment.comment_text}}
                </div>

                {% if up_Valid %}
                    <button type="submit" class="btn btn-primary pull-right">点赞</button>
                {% endif %}
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}