{% extends 'Qsystem/base.html' %}
{% load static %}
{% block title %}{{ question.question_text }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'Qsystem/CSS/login.css' %}">
{% endblock %}
{% block question_display %}
    <li class="active"><a href="{% url 'Qsystem:questionList' %}">刷题</a></li>
{% endblock %}

{% block content %}
    {% for question in question_list %}
        <ul>
            <a href="{% url 'Qsystem:questionOverview' question.id %}">{{ question.question_text }}</a>
        </ul>
    {% endfor %}
{% endblock %}